<p>momo works!</p>
<h2>this is momo</h2>

<mat-card>
    <mat-card-header>
        <h2 class="font-bold">employee listing</h2>
        <!-- <button color="primary" (click)="addEmployee()" mat-raised-button>agrega uno</button>
        <button (click)="mostartMensaje()" class="bg-green-500 p-4">
            mostrar mensaje
        </button> -->
        <button class="bg-green-500 p-4 rounded-lg" (click)="addChampion()" >
            añadir un nuevo campeon
        </button>
    </mat-card-header>

    <mat-card-content>
        <p>adaddadad</p>

    </mat-card-content>
</mat-card>
