<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<h2>waazazazaza</h2>
<h3>quien p*tas le dio dr*g* a la llama</h3> -->
<br>
<div>
  <input type="text" class="p-4 rounded-lg bg-gray-200 border-2 border-gray-950 w-96 shadow-lg" placeholder="buscar...">
</div>


  
<!-- <div class="size-96 bg-green-200 rounded-lg border-4 border-green-500 p-2">
  <p class="font-light text-3xl">escribiendo cualquier cosa</p>

  <button class="bg-red-600 p-2 rounded-lg font-bold text-white border-4 border-gray-100">
    click aqui 
  </button><br>
  <br>
  <div class="size-40 bg-gray-100 border-2 border-gray-700">

  </div>

</div>  -->
<router-outlet />